<table class="w-full">
  <tr>
    <td class="pt-[0px]">
      <table>
        <tr>
          <td class="bg-[#F0F5F5] w-[600px] pl-[20px] pr-[20px] pt-[0px] text-center">

            <table class="mx-auto w-auto">
              <tr>
                <td class="text-[#005555] text-[24px] leading-[28px] pt-[20px] pl-[0px] pr-[0px] font-bold text-center">
                  Sint cupidatat occaecat ut
                </td>
              </tr>
            </table>

            <table class="mx-auto w-auto">
              <tr>
                <td>
                  <table>
                    <tr>
                      <td class="text-left pt-[20px] sm:hidden block">
                        <table>
                          <tr>

                            <td class="bg-[#ffffff] text-left pt-[20px] w-[270px]">
                              <table>
                                <tr>
                                  <td class="text-left">

                                    <table class="w-full">
                                      <tr>
                                        <td class="text-center text-[0px] leading-[0px]">
                                          <x-image class="w-[100px] border-0" imgUrl="globe.png" alt="image" href="#" />
                                        </td>
                                      </tr>
                                    </table>

                                    <table>
                                      <tr>
                                        <td
                                          class="text-[20px] leading-[23px] text-[#005555] pt-[20px] pl-[90px] pr-[80px] text-center">
                                          Nisi ut ade
                                        </td>
                                      </tr>
                                    </table>


                                    <table>
                                      <tr>
                                        <td valign="top"
                                          class="text-[16px] leading-[19px] text-[#444444] font-normal pt-[20px] pl-[37px] pr-[37px] text-center">
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span
                                            class="text-[9px] [line-height:0] [vertical-align:6px]">1</span></td>
                                      </tr>
                                    </table>


                                    <table>
                                      <tr>
                                        <td class="pt-[20px]">

                                        </td>
                                      </tr>
                                    </table>

                                  </td>
                                </tr>
                              </table>
                            </td>

                            <td>
                              <table>
                                <tr>
                                  <td class="px-[10px]">

                                  </td>
                                </tr>
                              </table>
                            </td>

                            <td class="bg-[#ffffff] text-right pt-[20px] w-[270px]">
                              <table>
                                <tr>
                                  <td class="text-right">
                                    <table class="w-full">
                                      <tr>
                                        <td class="text-center text-[0px] leading-[0px]">
                                          <x-image class="w-[100px] border-0" imgUrl="globe.png" alt="image" href="#" />
                                        </td>
                                      </tr>
                                    </table>

                                    <table>
                                      <tr>
                                        <td
                                          class="text-[20px] leading-[23px] text-[#005555] pt-[20px] pl-[70px] pr-[50px] text-center">
                                          Duis aute irure
                                        </td>
                                      </tr>
                                    </table>

                                    <table>
                                      <tr>
                                        <td valign="top"
                                          class="text-[16px] leading-[19px] text-[#444444] font-normal pt-[20px] pl-[37px] pr-37px] text-center">
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span
                                            class="text-[9px] [line-height:0] [vertical-align:6px]">2</span></td>
                                      </tr>
                                    </table>

                                    <table>
                                      <tr>
                                        <td class="pt-[20px]">

                                        </td>
                                      </tr>
                                    </table>

                                  </td>
                                </tr>
                              </table>
                            </td>

                          </tr>
                        </table>
                      </td>

                      <td class="hidden sm:block pt-[20px]">
                        <table>
                          <tr>
                            <td class="bg-[#ffffff] text-left pt-[20px]">
                              <table>
                                <tr>
                                  <td class="text-left">
                                    <table class="w-full">
                                      <tr>
                                        <td class="text-center text-[0px] leading-[0px]">
                                          <x-image class="w-[100px] border-0" imgUrl="globe.png" alt="image" href="#" />
                                        </td>
                                      </tr>
                                    </table>
                                    <table class="w-full">
                                      <tr>
                                        <td
                                          class="text-[20px] leading-[23px] text-[#005555] pt-[20px] pl-[0px] pr-[0px] text-center">
                                          Nisi ut ade
                                        </td>
                                      </tr>
                                    </table>
                                    <table>
                                      <tr>
                                        <td valign="top"
                                          class="text-[16px] leading-[19px] text-[#444444] font-normal pt-[20px] pl-[37px] pr-[37px] text-center">
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span
                                            class="text-[9px] [line-height:0] [vertical-align:6px]">1</span></td>
                                      </tr>
                                    </table>
                                    <table>
                                      <tr>
                                        <td class="pt-[20px]">
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>

                        <table>
                          <tr>
                            <td>
                              <table>
                                <tr>
                                  <td class="pt-[30px]">

                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>

                        <table>
                          <tr>
                            <td class="bg-[#ffffff] text-right pt-[20px]">
                              <table>
                                <tr>
                                  <td class="text-right">
                                    <table class="w-full">
                                      <tr>
                                        <td class="text-center text-[0px] leading-[0px]">
                                          <x-image class="w-[100px] border-0" imgUrl="globe.png" alt="image" href="#" />
                                        </td>
                                      </tr>
                                    </table>


                                    <table class="w-full">
                                      <tr>
                                        <td
                                          class="text-[20px] leading-[23px] text-[#005555] pt-[20px] pl-[0px] pr-[0px] text-center">
                                          Duis aute irure
                                        </td>
                                      </tr>
                                    </table>


                                    <table>
                                      <tr>
                                        <td valign="top"
                                          class="text-[16px] leading-[19px] text-[#444444] font-normal pt-[20px] pl-[37px] pr-37px] text-center">
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span
                                            class="text-[9px] [line-height:0] [vertical-align:6px]">2</span></td>
                                      </tr>
                                    </table>
                                    <table>
                                      <tr>
                                        <td class="pt-[20px]">

                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>

                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <table>
              <tr>
                <td class="pt-[35px]">

                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>