<table class="w-full">
  <tr>
    <td class="pt-[10px] pl-[20px] pr-[20px]">
      <table class="w-full border-0">
        <tr>
          <td class="text-left align-top">
            <table class="w-full border-0">
              <tr>
                <td class="h-px bg-[#002B2B]"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td class="pt-[20px]"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="w-full">
  <tr>
    <td class="text-[12px] leading-[14px] text-[#000000] pt-[15px] pl-[20px] pr-[0px] text-center">
      Sed do eiusmod tempor incididunt ut labore
    </td>
  </tr>
</table>

<table class="w-full">
  <tr>
    <td class="w-[100px] pt-[28px] align-center text-center text-[0px] leading-[0px]">
      <x-image
        class="w-[100px] border-0"
        imgUrl="image-4.jpeg"
        alt="image"
        href="#"
      />
    </td>
  </tr>
</table>

<table>
  <tr>
    <td class="pt-[20px]"></td>
  </tr>
</table>
