<table class="w-full">
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <table>
              <tr>
                <td class="px-[20px] pt-[20px] sm:hidden block text-[0px] leading-[0px]">
                  <x-image class="w-[558px] border-0" imgUrl="image-1.png" alt="image" href="#" />
                </td>
                <td class="pt-[20px] hidden sm:block text-[0px] leading-[0px]">
                  <x-image class="w-[558px] border-0" imgUrl="image-1.png" alt="image" href="#" />
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <!-- Heading Section -->
      <table class="mx-auto w-auto">
        <tr>
          <td class="text-[#005555] text-[24px] leading-[28px] pt-[20px] pl-[20px] pr-[20px] font-bold text-center">
            Excepteur sint occaecat cupidatat
          </td>
        </tr>
      </table>

      <!-- Paragraph Section -->
      <table>
        <tr>
          <td class="text-[#444444] text-[16px] leading-[19px] pt-[20px] pl-[50px] pr-[50px] text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat.
          </td>
        </tr>
      </table>

      <!-- Button Section -->
      <table class="w-full">
        <tr>
          <td class="text-center pt-[28px]">
            <table class="mx-auto">
              <tr>
                <td class="align-top text-center bg-[#008080] p-[13px] px-[40px]">
                  <a href="#" class="text-white font-sans text-[20px] leading-[23px] font-bold block">
                    Ut enim ad minim veniam
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td class="pt-[35px]">
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>