<table class="w-full">
  <tr>
    <td>
      <table class="align-center-table">
        <tr>
          <td class="pl-[20px] pr-[20px] pt-[20px]">
            <table>
              <tr>
                <td class="w-[110px] text-[0px] leading-[0px]">
                  <x-image class="w-[110px] border-0" imgUrl="image-2.png" alt="image" href="#" />
                </td>
                <td
                  class="text-customColor text-[12px] leading-[14px] font-normal pl-[20px] pt-[10px] sm:hidden block align-middle">
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.
                </td>
                <td class="text-customColor text-[11px] leading-[14px] font-normal pl-[20px] hidden sm:block">
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>